<% provide(:title, @display.t_num) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
<%= @display.user_name %>,<%= @display.t_num %>, <%= @display.mfr %>, <%= @display.mdl %>, <%= @display.bl_lvl %>, <%= @display.wh_lvl %>, <%= @display.kpn %>, <%= @display.kpb %>, <%= @display.in_num %>,<%= @display.num_d %>
      </h1>
    </section>
  </aside>
</div>