<% provide(:title, @display.t_num) %>
<div class="row">
  <aside class="span12">
    <section>
      <table>
        <tr>                          
    <th>user_name</th>
    <th>t_num</th>
    <th>mfr</th>
    <th>model</th>
    <th>bl_lvl</th>
    <th>wh_lvl</th>
    <th>kpn</th>
    <th>kpb</th>
    <th>in_num</th>
    <th>num_d</th>
  </tr>
  <tr>
<td><%= @display.user_name %></td>
<td><%= @display.t_num %></td>
<td><%= @display.mfr %></td>
<td><%= @display.mdl %></td>
<td><%= @display.bl_lvl %></td>
<td><%= @display.wh_lvl %></td>
<td><%= @display.kpn %></td>
<td><%= @display.kpb %></td>
<td><%= @display.in_num %></td>
<td><%= @display.num_d %></td>
  </tr>
 
        <tr>                          
    <th>Keypad</th>
    <th>Number Dialed/read</th>
    
  </tr>
  <tr>
<td><%= @display.kpn*0.65+@display.kpb*0.35 %></td>
<td><%= @display.in_num*0.65+@display.num_d*0.35 %></td>
</tr>
      </table>
    </section>
  </aside>
</div>